<% provide(:title, 'Help') %>

<h3>The importance of archiving data</h3>

<p>Some details here.</p>

<pre><code>      trait             master_species value unit resource_id user_id
depth_range          Acropora cerealis    17    m          11         jmadin
depth_range          Acropora cerealis    10    m          98         abaird
depth_range          Acropora cerealis    11    m          75         mdiaz
depth_range       Acropora cervicornis  59.5    m          11         jmadin
depth_range Acropora chesterfieldensis    17    m          11         jmadin
depth_range Acropora chesterfieldensis    27    m          98         abaird
depth_range         Acropora clathrata    12    m          11         jmadin
depth_range     Acropora crateriformis    14    m          11         jmadin
depth_range           Acropora cuneata    15    m          11         jmadin
depth_range          Acropora cytherea    22    m          11         jmadin</code></pre>

<h3>Instructions</h3>

<p>Some details here.</p>

<pre><code>      trait             master_species value unit resource_id user_id
depth_range          Acropora cerealis    17    m          11         jmadin
depth_range          Acropora cerealis    10    m          98         abaird
depth_range          Acropora cerealis    11    m          75         mdiaz
depth_range       Acropora cervicornis  59.5    m          11         jmadin
depth_range Acropora chesterfieldensis    17    m          11         jmadin
depth_range Acropora chesterfieldensis    27    m          98         abaird
depth_range         Acropora clathrata    12    m          11         jmadin
depth_range     Acropora crateriformis    14    m          11         jmadin
depth_range           Acropora cuneata    15    m          11         jmadin
depth_range          Acropora cytherea    22    m          11         jmadin</code></pre>

